* {


    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 0;
    margin: 0;
    font-family: Times;
    color: #ffffff;
    transition: 0.5s ease;


}
.title{
	background-image:url("../images/logo.png");
}
.clock {
    font-size: 4rem;
    margin: 1%;
    text-align: center;
    color: blue;
    font-family: 'Times',sans-serif;
    width: 33.33%;
}

.clock ul{
	top: 2px;
	position: absolute;
	list-style-type:none;
	padding: 10px 10px;
	font-size: 30px;
  	width:100%;
	
	
}
.now{
	
	font-weight: bold;
	font-style: italic	
	
}
body{
		background-image:url("../images/bb.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.menu ul{ 
	color:#fff;
	position: absolute;
	top: 0;
	list-style-type:none;
	padding-top: 10px;
padding-bottom:	10px;
	font-size: 30px;
	text-align: center;
  	width:100%;
}
.menu ul li{
	
	display: inline-block;
	position: relative;
	

}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 30px;
	border: 1px solid transparent;	
	transition: 0.5s ease;
	display: block;
	
}
.menu ul li ul{
	position: absolute;
	display: none;	
	padding: 10px;


}
.menu ul li:hover ul{
	display: block;	
	margin-top: 35px;


}
.menu ul li ul li {
	width: 100%;
}
.menu ul li ul li a{
	padding: 5px 5px;
	width:100%;

}
.menu ul li ul li a:hover{
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 20px;	
}
.menu ul li a:hover{
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	color: #000;

}


.winmachines{
	text-align: center;
	margin-top: 170px;
}
.winmachines h1{
	
	margin-left: 27%;
	font-size: 150px;
	text-align: center;
	text-align: justify;
}
.javas{
	text-align: center;
	margin-top: 2%;	
}
.javas{
	font-family: Arial;
	font-size: 90px;
	transition: 1.0s ease;
}
.footer{
	position:flex;
	bottom: 0px;
	width: 100%;
	height: 300px;
	margin-top: 30px;
}
.mainpart{
		display:flex;
}

.date {
    margin-left: 8%;
    margin: 1%;
    /*margin-top: 2%;*/
    font-size: 4rem;
    text-align: center;
    /*letter-spacing: 5px;*/
    color: blue;
	color:#fff;
    width: 30%;
}


.center{
    display: block;
}


.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.log{
	margin-top: 3%;
	margin-left: 38%;
}
.fp{
text-align:center;
font-size: 40px;


}
.reserve{
		
		position:flex;
		bottom: 0px;
		height:20px;
		background-color: orange;
		width:100%;
		text-align:center;
}
.intro{
	width:80%;
	margin-top: 1%;
	text-align: justify;
	text-align: center;
	margin-left: 9%;
	font-size:24px;
	font-family: san-serif;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 25px;
}
.clock{
 	color:#fff;

}



@media only screen and (max-width: 768px) {
  
    .clock{
        width: 100%;
        font-size: 2rem;

    }
    .date {
        width: 100%;
        font-size: 2rem;
    }
    .center {
        width: 100%;
        font-size: 1rem;
    }

    .fp {
        font-size: 1rem;
    }
    
    
}